.post-item{
          border: 1px solid gray;
          margin: 10px;
          padding: 10px;
          color: white;
          background-color: peru;
          border-radius: 10px;
          box-shadow: 15px 20px;
}